{% macro navbar(activepage, cur_user) %}
<ul class="nav navbar-nav">
    {% if cur_user.uid %}
    <li {% if activepage.spend %}class="active" {% endif %}><a href="{{ url_for('spendanalysis') }}">Spend Analysis</a></li>
    {% endif %}
    {% if not cur_user.uid %}
    <li {% if activepage.login %}class="active" {% endif %}><a href="{{ url_for('login') }}">Login</a></li>
    <li {% if activepage.register %}class="active" {% endif %}><a href="{{ url_for('register') }}">Register</a></li>
    {% endif %}
    {% if cur_user.uid %}
    <li {% if activepage.addaccount %}class="active" {% endif %}><a href="{{ url_for('manageaccount') }}">Manage Accounts</a></li>
    <li {% if activepage.upload %}class="active" {% endif %}><a href="{{ url_for('upload') }}">Upload Statement</a></li>
    {% endif %}
    {% if cur_user.uid and cur_user.admin %}
    <li {% if activepage.addbank %}class="active" {% endif %}><a href="{{ url_for('addbank') }}">Add Bank Details</a></li>
    {% endif %}
    {% if cur_user.uid %}
    <li><a href="{{ url_for('logout') }}">Logout {{ cur_user.user_name | title }}</a></li>
    {% endif %}
</ul>
{% endmacro %}