<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <style>
        .body {
            margin: auto;
            width:80%
        }
        .header {
            font-size: 16;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            color:#601e9e
        }
        .content {
            font-size: 12;
        }

        .content a{
            text-decoration: none;
            color:#601e9e;
            font-weight: bold;
        }
        .content a:hover{
            color:gray;
        }
    </style>
</head>
<body class="body">
    <h2 class="header"> Dear {{username}}, 
        <br> You are trying to reset the password of your account in SpendAnalysis</h2>
    <div class="content">
        Please click this <a href={{reset_link}}>link</a> to reset your password.
    </div>
</body>
</html>